#title {
    color: rgb(255, 255, 255);
    background-color: rgb(140, 129, 165);
    font-family: papyrus, sans-serif;
    padding: 10px;
    margin: 20px 50px;
    border: 3px solid rgb(0, 82, 44);
    text-align: center;
}

#title.header {
    font-weight: bold;
}

.header {
    background-color: rgb(0, 82, 44);
    color: white;
    font-family: papyrus, sans-serif;
    margin: 20px 50px;
    padding: 5px;

}

.para,
.list {
    font-family: papyrus, sans-serif;
}

.para {
    font-size: 18px;
    margin: 0px 50px;
}

.list {
    font-size: 14px;
    margin-left: 70px
}

